<!DOCTYPE html>
<html>

<head>
  <title>GitHub Visualisation</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
</head>

<style>
h2, p {
  font-family: monospace;
}
</style>

<body>
  <h2>Commit history for {{ .user }}/{{ .repo }}</h2>
  <p>Time period: {{ .from }} to {{ .to }}</p>
  <p>Hover over the graph to see the committer and commit count.</p>
  <div style="display: block; margin: auto;">
    <svg width="1220px" height="500px"></svg>
  </div>
</body>

<script>
  const svg = d3.select("svg")
  const width = 1200
  let git = JSON.parse("{{ .jsonData }}")
  let dateString = git.dateString.map(d3.timeParse("%b %y"))
  yName = "Commits"

  const height = 500
  const margin = ({
    top: 20,
    right: 20,
    bottom: 30,
    left: 40
  })
  const x = d3.scaleTime()
    .domain(d3.extent(dateString))
    .range([margin.left, width - margin.right])
  const y = d3.scaleLinear()
    .domain([0, d3.max(git.data, d => d3.max(d.count))]).nice()
    .range([height - margin.bottom, margin.top])
  const xAxis = g => g
    .attr("transform", `translate(0,${height - margin.bottom})`)
    .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0))
  const yAxis = g => g
    .attr("transform", `translate(${margin.left},0)`)
    .call(d3.axisLeft(y))
    .call(g => g.select(".domain").remove())
    .call(g => g.select(".tick:last-of-type text").clone()
      .attr("x", 3)
      .attr("text-anchor", "start")
      .attr("font-weight", "bold")
      .text(yName))
  const line = d3.line()
    .defined(d => !isNaN(d))
    .x((d, i) => x(dateString[i]))
    .y(d => y(d))

  svg.append("g")
    .call(xAxis)

  svg.append("g")
    .call(yAxis)

  const path = svg.append("g")
    .attr("fill", "none")
    .attr("stroke", "steelblue")
    .attr("stroke-width", 1.5)
    .attr("stroke-linejoin", "round")
    .attr("stroke-linecap", "round")
    .selectAll("path")
    .data(git.data)
    .enter().append("path")
    .style("mix-blend-mode", "multiply")
    .attr("d", d => line(d.count))

  svg.call(hover, path)

  function hover(svg, path) {
    svg
      .style("position", "relative")

    if ("ontouchstart" in document) svg
      .style("-webkit-tap-highlight-color", "transparent")
      .on("touchmove", moved)
      .on("touchstart", entered)
      .on("touchend", left)
    else svg
      .on("mousemove", moved)
      .on("mouseenter", entered)
      .on("mouseleave", left)

    const dot = svg.append("g")
      .attr("display", "none")

    dot.append("circle")
      .attr("r", 2.5)

    dot.append("text")
      .style("font", "10px sans-serif")
      .attr("text-anchor", "middle")
      .attr("y", -8)

    function moved() {
      d3.event.preventDefault()
      const ym = y.invert(d3.event.layerY)
      const xm = x.invert(d3.event.layerX)
      const i1 = d3.bisectLeft(dateString, xm, 1)
      const i0 = i1 - 1
      const i = xm - dateString[i0] > dateString[i1] - xm ? i1 : i0
      const s = git.data.reduce((a, b) => Math.abs(a.count[i] - ym) < Math.abs(b.count[i] - ym) ? a : b);
      path.attr("stroke", d => d === s ? null : "#ddd").filter(d => d === s).raise();
      dot.attr("transform", `translate(${x(dateString[i])},${y(s.count[i])})`)
      dot.select("text").text(`${s.user} <${s.count[i]}>`)
    }

    function entered() {
      path.style("mix-blend-mode", null).attr("stroke", "#ddd")
      dot.attr("display", null)
    }

    function left() {
      path.style("mix-blend-mode", "multiply").attr("stroke", null)
      dot.attr("display", "none")
    }
  }
</script>

</html>
